/*#36393f - discord gray */
/*5865F2 - discord blue  */
/*48F0FE - discord white*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*index page (auth with token)*/

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  display: inline-block;
}

a {
  color: #00AFF4;
  word-break: break-word;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

.root {
  background: #36393f;
  width: 100vw;
  height: 100vh;
}

.token-field {
  background: #5865F2;
  border-radius: 10px;
  height: 45px;
  min-width: 35%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.token-field input {
  border-radius: 5px;
  padding: 10px;
  margin-left: 25px;
  margin-top: 5px;
  outline: none;
  background: #48F0FE;
  border: none;
  width: calc(100% - 70px);
}

.token-button {
  background: #5865F2;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #48F0FE;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: fit-content;
  margin-top: 15px;
}


/* guildsList */

.guilds-list {
  width: 500px;
  height: 100vh;
  background: #5865F2;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.guild {
  background: #36393f;
  color: #48F0FE;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  cursor: pointer;
}

.guild img {
  display: inline-block;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.bot-info {
  width: calc(100% - 24px);
  text-align: center;
  background: #36393f;
  color: white;
  padding: 12px;
  font-weight: 600;
}

.bot-info img {
  height: 128px;
}


/*guild */

.actionButton {
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background: #5865F2;
  width: fit-content;
  margin: 10px;
  color: #48F0FE;
  text-decoration: none;
  cursor: pointer;
}

.channels-list {
  width: 350px;
  height: calc(100vh - 55px);
  overflow-y: auto;
  /*background: #36393f;*/
  background: #2f3136;
  text-align: center;
  /*border-right: 2px solid black;*/
  position: relative;
  float: left;
}

.audio-panel {
  width: 350px;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202225;
}

.audio-panel div {
  width : fit-content;
  margin-left : auto;
  margin-right : auto;
}

.audio-icon {
  display: inline-block;
  position: relative;
  top: 12px;
  color : #caccce;
  padding : 7px;
  border-radius: 5px;
  cursor: pointer;
}

.audio-icon:hover {
  background : #36393f;
}

.chat-avatar {
  width : 35px;
  height : 35px;
  border-radius: 100%;
  position: relative;
  top : 10px;
}

.GUILD-CATEGORY {
  text-align : left;
  padding : 10px 5px;
  color : #48F0FE;
}

.channel {
  cursor: pointer;
  /* color : #dcddde; */
  color: #8e9297;
  text-align: left;
  margin: 0;
}

.channel p {
  margin: 8px;
}

.channel:hover {
  background: #5865F2;
}


.author {
  color: #dcddde;
  font-size: 20px !important;
}

h2 {
  margin: auto !important;
  font-size: 16px !important;
}

.message-field {
  width: calc(100vw - 352px);
  height: 60px;
  background: #5865F2;
  position: absolute;
  bottom: 0;
  margin-left: 352px;
}

.message-field input {
  width: calc(100vw - 400px);
  height: 40px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  position: relative;
  top: 8px;
  background: #36393f;
  color: #48F0FE;
}

.message-field input::placeholder {
  color: #48F0FE;
}

.messages {
  height: calc(100vh - 115px);
  width: calc(100% - 382px);
  overflow-y: scroll;
  overflow-x: auto;
  color: #48F0FE;
  padding: 15px 15px 100px;
}

.message-content {
  display: block;
  /*white-space: pre;*/
  /*word-break: break-all;*/
  width: calc(100% - 30px);
}

.message {

}


.bot {
  background: #5865F2;
  padding: 2px 8px;
  color: white;
  border-radius: 10px;
  margin: 0 !important;
}


.avatar {
  border-radius: 100%;
  width : 25px;
  height : 25px;
  position: relative;
  top : 6px;
}
