/*#36393f - discord gray */
/*5865F2 - discord blue  */
/*48F0FE - discord white*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

/*index page (auth with token)*/

* {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none !important;
}

p {
  display: inline-block;
}

a {
  color: #00AFF4;
  word-break: break-word;
}

*::-webkit-scrollbar {
  width: 0 !important;
}

.root {
  background: #36393f;
  width: 100vw;
  height: 100vh;
}

.token-field {
  background: #5865F2;
  border-radius: 10px;
  height: 45px;
  min-width: 35%;
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.token-field input {
  border-radius: 5px;
  padding: 10px;
  margin-left: 25px;
  margin-top: 5px;
  outline: none;
  background: #48F0FE;
  border: none;
  width: calc(100% - 70px);
}

.token-button {
  background: #5865F2;
  padding: 10px;
  border: none;
  border-radius: 10px;
  color: #48F0FE;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  width: fit-content;
  margin-top: 15px;
}


/* guildsList */

.guilds-list {
  width: 500px;
  height: 100vh;
  background: #5865F2;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
}

.guild {
  background: #36393f;
  color: #48F0FE;
  padding: 10px;
  width: 80%;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  cursor: pointer;
}

.guild img {
  display: inline-block;
  width: 50px;
  border-radius: 100%;
  border: none;
}

.bot-info {
  width: calc(100% - 24px);
  text-align: center;
  background: #36393f;
  color: white;
  padding: 12px;
  font-weight: 600;
}

.bot-info img {
  height: 128px;
}


.date {
  padding : 5px 10px;
  background: #2f3136;
  border-radius: 5px;
  height : 20px;
  width : fit-content;
  display : inline-block;
  float : right;
  position: relative;
  top : 15px;
}

/*guild */

.actionButton {
  padding: 10px;
  text-align: left;
  border-radius: 10px;
  background: #5865F2;
  width: fit-content;
  margin: 10px;
  color: #48F0FE;
  text-decoration: none;
  cursor: pointer;
}

.channels-list {
  width: 350px;
  height: calc(100vh - 55px);
  overflow-y: auto;
  /*background: #36393f;*/
  background: #2f3136;
  text-align: center;
  /*border-right: 2px solid black;*/
  position: relative;
  float: left;
}

.channel-type {
  position: relative;
  top : 4px;
  display : inline;
}

.audio-panel {
  width: 350px;
  height: 55px;
  position: absolute;
  left: 0;
  bottom: 0;
  background: #202225;
}

.audio-panel div {
  width : fit-content;
  margin-left : auto;
  margin-right : auto;
}

.audio-icon {
  display: inline-block;
  position: relative;
  top: 12px;
  color : #caccce;
  padding : 7px;
  border-radius: 5px;
  cursor: pointer;
}

.bot-avatar {
  border-radius: 100%;
  width : 25px;
  height : 25px;
  display : inline;
  position: relative;
  top : 14px;
}

.bot-tag {
  color : #caccce;
  font-weight: 600;
  position: relative;
  top : 8px;
}

.audio-icon:hover {
  background : #36393f;
}

.chat-avatar {
  width : 35px;
  height : 35px;
  border-radius: 100%;
  position: relative;
  top : 10px;
  margin-right : 15px;
}

.GUILD-CATEGORY {
  text-align : left;
  padding : 10px 5px;
  color : #48F0FE;
}

.channel {
  cursor: pointer;
  /* color : #dcddde; */
  color: #8e9297;
  text-align: left;
  margin: 0;
}

.channel p {
  margin: 8px;
}

.channel:hover {
  background: #5865F2;
}


.author {
  color: #dcddde;
  cursor: pointer;
}

.author:hover {
  text-decoration: underline;
}

.user-id {
  position: relative;
  top : 18px;
}

h2 {
  margin: auto !important;
  font-size: 16px !important;
}

.message-header {
  /*display : grid;*/
  /*grid-template-columns: repeat(2, minmax(0, 1fr));*/
  /*justify-items: center;*/
}

.message-field {
  width: calc(100vw - 352px);
  height: 60px;
  background: #5865F2;
  position: absolute;
  bottom: 0;
  margin-left: 352px;
}

.message-field input {
  width: calc(100vw - 400px);
  height: 40px;
  outline: none;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border-radius: 5px;
  border: none;
  padding-left: 10px;
  position: relative;
  top: 8px;
  background: #36393f;
  color: #48F0FE;
}

.message-field input::placeholder {
  color: #48F0FE;
}

.settings {
  height : 44px;
  width : 100%;
  border-bottom: 1px solid #2f3136;
  padding-top: 15px;
}

.settings h2 {
  color : #caccce;
  display : inline-block;
}

.settings div {
  display : inline-block;
  color : #caccce;
  font-weight: 600;
  margin-left : 15px;
}

.settings .setting-button {
  border-radius: 5px;
  background : #5865F2;
  padding : 5px 10px;
  cursor: pointer;
}

.ban-item {
  color : #caccce;
  padding : 8px 4px;
  margin : 5px 0;
  border-radius: 5px;
  border: 1px solid #caccce;
  display : grid;
  cursor: pointer;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.list-button {
  border : 1px solid #caccce;
  width : fit-content;
  padding : 3px 5px;
  border-radius: 5px;
}

.list-button:hover {
  background : #5865F2;
}

.messages {
  height: calc(100vh - 115px - 60px);
  width: calc(100% - 382px);
  overflow-y: scroll;
  overflow-x: auto;
  color: #48F0FE;
  padding: 15px 15px 100px;
}

.message-content {
  display: block;
  /*white-space: pre;*/
  /*word-break: break-all;*/
  width: calc(100% - 30px);
}

.message {

}


.bot {
  background: #5865F2;
  padding: 2px 8px;
  color: white;
  border-radius: 10px;
  margin: 0 !important;
}


.avatar {
  border-radius: 100%;
  width : 25px;
  height : 25px;
  position: relative;
  top : 6px;
}

.sidebar {
  position: fixed;
  right : 0;
  width : 400px;
  height : calc(100% - 120px);
  overflow-y : auto;
  background : rgb(47, 49, 54);
  top :60px;
  z-index : 10;
  color : #caccce;
  text-align: center;
}

.selected-user-avatar {
  height : 120px;
  width : 120px;
  border-radius: 100%;
  display : block;
  margin : 20px auto;
}

.selected-user-tag {
  font-size: 20px;
  font-weight: 600;
  display : block;
  margin : 10px auto;
  text-align : center;
}

.cross {
  position: absolute;
  right : 10px;
  width :20px;
  height : 20px;
  cursor: pointer;
}

.selected-user-info {
  padding : 10px 30px;
  border-radius: 7px;
  width : fit-content;
  margin: 0 auto;
  border : 1px solid #caccce;
}

.roles {
  border : 1px solid #caccce;
  border-radius: 7px;
  margin : 10px auto;
  width : 90%;
  max-height : 150px;
  overflow-y : auto;
}

.roles .header {
  font-size : 19px;
  font-weight: 600;
  margin-top : 5px;
  display : block;
}

.role {
  cursor: pointer;
  padding : 5px 0;
}

.role:hover {
  background : rgb(88, 101, 242);
}

.role-name {

}

.role-add {
  border : 1px solid #caccce;
  padding : 5px 10px;
  border-radius: 7px;
  width : fit-content;
  font-weight : 600;
  cursor: pointer;
  margin : 0 auto;
}

.role-add:hover {
  background : rgb(88, 101, 242);
}

.all-roles {
  max-height : 300px !important;
}

.user-avatar {
  height : 60px;
  width : 60px;
  border-radius: 100%;
}

.user {
  cursor : pointer;
  font-size : 18px;
  text-align : left;
  font-weight : 600;
  padding : 5px 25px;
}

.user:hover {
  background : rgb(88, 101, 242);
}
